if SHIELD_TILE_LEFT

config ZMK_KEYBOARD_NAME
    default "Tile Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TILE_LEFT || SHIELD_TILE_RIGHT

config ZMK_SPLIT
    default y

endif
